{%load staticfiles%}
<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

  <div class="page-header" style="background: linear-gradient(to right,  #F0E68C 40%,#FFE4B5 60%);height: 25% ">
    <div class="row">
  <a href="/"> <img src="{%static 'images/my.png'%}" /></a>
     <form method="POST" action="/">{%csrf_token %}
         <div class="row">
         <div class="col-sm">
       <input type="submit" value="Hiree" name="hiree">
       </div>
         <div class="col-sm">
       <input type="submit" value="Hirer" name="hirer">
       </div>
             </div>
     </form>
 </div>

  </div>
  </div>
        <center> <h2 style="background: linear-gradient(to right,  #F0E68C 40%,#FFE4B5 60%);height: 5% ">Hi Hiree Welcome to Empower Illiterate</h2></center>


<div class="container mx-auto">
    <center>
	<div class="row ">
        <div class=" pl-5 pl-5  pl-5 pl-5">

				<form method="post" action="/enterotp/">{%csrf_token %}
					<div class="col-sm-12 well">
                        <div class="form-group">
                            <label>Enter your Email </label>
                            <input type="text"  placeholder="sreekanth.g@gmail.com" class="form-control " >
                        </div>
					<button type="submit" class="btn btn-lg btn-info">Submit</button>
					</div>
				</form>

            </div>
<div class="col-sm-6">
<h1 class="pl-3">welcome</h1>
</div>
	</div>
         </center>

	</div>

</body>
</html>
