{%load staticfiles%}
<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="page-header" style="background: linear-gradient(to right,  #F0E68C 40%,#FFE4B5 60%);height: 25% ">
    <div class="row">
  <a href="/"> <img src="{%static "images/my.png"%}"></a>

<!--   {% for ddb in category%}-->

<!--      <form method="POST" action="/">{%csrf_token %}-->
<!--        <input type="hidden" name="name" value="{{ddb.id}}">-->
<!--        <div class="col-sm">-->
<!--        <input type="submit" value="{{ddb.bcategory}}">-->
<!--        </div>-->
<!--      </form>-->
<!--     {% endfor %}-->
     <form method="POST" action="/">{%csrf_token %}
<!--       <input type="hidden" name="" value="">-->
         <div class="row">
<!--       <div class="col-sm">-->
<!--       <input type="submit" value="Home" name="home">-->
<!--       </div>-->
         <div class="col-sm">
       <input type="submit" value="Hiree" name="hiree">
       </div>
         <div class="col-sm">
       <input type="submit" value="Hirer" name="hirer">
       </div>
             </div>
     </form>
 </div>
<!--  </div>-->
<!--    <center> <h2 style="background: linear-gradient(to right,  #F0E68C 40%,#FFE4B5 60%);height: 5% ">{{name}}</h2></center>-->
<!--  <div class="row">-->

<!--    {% for db in bloglist %}-->
<!--    {% for author in authorlist %}-->
<!--    {% if db.author_id == author.id%}-->
<!--          <div class="p-5 col-sm-6">-->
<!--            <div class="card">-->
<!--              <div class="card body border-success" >-->
<!--            <label> <strong>author :</strong></label>-->
<!--             <p>{{ author.bauthor}} </p>-->
<!--           <label> <strong>title</strong></label>-->
<!--           <p>{{db.btitle}}</p>-->
<!--          <label><strong> bdate :</strong></label>-->
<!--          <p> {{db.bdate}}</p>-->
<!--          <img src="static/images/{{db.bimage}}"  width="304" height="236">-->
<!--          <br>-->
<!--          <label> <strong>bdiscription:</strong></label>-->
<!--           <p>{{db.bdiscription}}</p>-->
<!--         </div>-->
<!--         </div>-->
<!--          </div>-->
<!--          {% endif %}-->
<!--          {% endfor %}-->
<!--          {% endfor %}-->

<!--</div>-->
  </div>
<div class="row">
    <h2>hi welcome to home</h2>
</div>
</body>
</html>
